[Unit]
Description=Web Application

[Service]
ExecStart=/usr/bin/env python3 -m http.server --bind 0.0.0.0 8080
WorkingDirectory=/opt/web-application
Restart=always

[Install]
WantedBy=multi-user.target
